/**
 * @file
 * Visual styles for OBIZR2020's property content type.
 */
/* banner */
.page-node-type-mt-property .banner {
  background-image: none;
}
.page-node-type-mt-property .banner:after {
  background-color: transparent;
}

/* main content section */
.page-node-type-mt-property .sidebar__section {
  padding-top: 54px;
}

/*page title*/
.page-node-type-mt-property .page-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .page-node-type-mt-property .page-title {
    margin-bottom: 10px;
  }
}
.page-node-type-mt-property .carousel-internal ~ .page-title-container .page-title {
  margin-top: 20px;
}

/* node header */
.node--type-mt-property .node__header {
  padding: 0;
}

/* field labels */
.property-content-top-first .field__label {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}
.node--type-mt-property .field__label {
  font-size: 30px;
  line-height: 1.20;
  padding: 0;
  margin: 0 0 20px;
  color: #333333;
  font-weight: 700;
}
.node--type-mt-property .mt-property-features .field__label {
  font-size: 11px;
  font-weight: 400;
  margin: 5px 0 5px 0;
  opacity: 0.75;
}

/*subheader field*/
.node--type-mt-property .field--name-field-mt-prt-subheader-body {
  font-size: 18px;
}

/*image field*/
@media (max-width: 991px) {
  .node--type-mt-property .field.field--name-field-mt-prt-image {
    margin: 0 0 30px;
  }
}
@media (max-width: 575px) {
  .mt-style-sharp.mt-style-image-global .node--type-mt-property .field.field--name-field-mt-prt-image,
  .mt-style-image-sharp .node--type-mt-property .field.field--name-field-mt-prt-image {
    margin: 0 -15px 30px;
  }
}
.node--type-mt-property.node--view-mode-teaser .images-container {
  margin-bottom: 15px;
}

/*price field*/
.node--type-mt-property .field.field--name-field-mt-prt-price {
  font-size: 18px;
  font-weight: 700;
}
.region--dark-typography .node--type-mt-property .field--name-field-mt-prt-price {
  color: #333333;
}

/*Contact link field*/
.node--type-mt-property .field--name-field-mt-prt-contact-link a {
  min-width: 190px;
  display: block;
  background-color: transparent;
}
.node--type-mt-property .field--name-field-mt-prt-contact-link a:hover,
.node--type-mt-property .field--name-field-mt-prt-contact-link a:focus {
  color: #ffffff;
}

/*contract and property id fields*/
.node--type-mt-property .field--name-field-mt-prt-property-id,
.node--type-mt-property .field--name-field-mt-prt-contract {
  font-weight: 400;
}
.node--type-mt-property .field--name-field-mt-prt-property-id:before,
.node--type-mt-property .field--name-field-mt-prt-contract:before {
  content: "#";
}
.node--type-mt-property .field--name-field-mt-prt-contract.field--entity-reference-target-type-taxonomy-term,
.node--type-mt-property .field--name-field-mt-prt-contract.field--entity-reference-target-type-taxonomy-term.field__item {
  position: inherit;
  padding-left: 0;
  padding-top: 0;
}
.node--type-mt-property .field--name-field-mt-prt-contract.field--entity-reference-target-type-taxonomy-term::before,
.node--type-mt-property .field--name-field-mt-prt-contract.field--entity-reference-target-type-taxonomy-term.field__item::before {
  position: inherit;
  font-family: inherit;
  font-weight: 400;
  left: 0;
  padding-left: 0;
  font-size: inherit;
  position: inherit;
  top: 0;
}
.field--entity-reference-target-type-taxonomy-term {
  padding-top: 0;
}

/* categories field */
.node--type-mt-property .field.field--name-field-mt-prt-type {
  padding-left: 0;
  margin: 0;
  padding-top: 0;
  font-size: 15px;
  margin-top: 4px;
}
.field--name-field-mt-prt-type.field--label-hidden:before,
.field--name-field-mt-prt-type.field--label-hidden.field__item:before {
  content: "\f292";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
  margin-left: 1px;
  position: static;
  color: #6c6c6c;
  font-size: 16px;
}
.field--name-field-mt-prt-type > .field__items {
  padding-right: 0;
}
.field--name-field-mt-prt-type > .field__items > .field__item:last-child {
  margin-right: 0;
}
.region--dark-typography .field--name-field-mt-prt-type.field--label-inline .field__label {
  color: #6c6c6c;
  font-weight: 400;
}

/*rooms, floor, baths, surface, heating-system, heating-medium, constraction-year, address, city fields*/
.field--name-field-mt-prt-rooms .field__label,
.field--name-field-mt-prt-floor .field__label,
.field--name-field-mt-prt-baths .field__label,
.field--name-field-mt-prt-surface .field__label,
.field--name-field-mt-prt-heating-medium .field__label,
.field--name-field-mt-prt-heating-system .field__label,
.field--name-field-mt-prt-construction-year .field__label,
.field--name-field-mt-prt-address .field__label,
.field--name-field-mt-prt-city .field__label {
  font-size: inherit;
}
.node--type-mt-property .field--name-field-mt-prt-heating-medium .field__label:before,
.node--type-mt-property .field--name-field-mt-prt-heating-system .field__label:before {
  display: none;
}

/*amenities field*/
.paragraph--type--mt-property-amenity {
  position: relative;
  padding-left: 35px;
  padding-bottom: 5px;
}
.paragraph--type--mt-property-amenity .svg-inline--fa {
  color: #46c82d;
  width: 22px;
  position: absolute;
  left: 0px;
  top: 4px;
}
.paragraph--type--mt-property-amenity .muted,
.paragraph--type--mt-property-amenity .muted .svg-inline--fa {
  color: #a8a8a8;
}

/* body field */
.node--type-mt-property .field.field--name-field-mt-prt-body {
  margin-bottom: 40px;
}
.field--name-field-mt-prt-body p:last-child {
  padding-bottom: 0;
}

/* node links */
.layout-no-sidebars .node--type-mt-property.node--view-mode-full .node__links {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

/* property meta info */
.property-meta-info .col-auto + .col-auto:before {
  content: "";
  height: 70%;
  width: 1px;
  background-color: #cecece;
  position: absolute;
  left: -1px;
  top: 15%;
}

/* property detailed features */
.node--type-mt-property .paragraph--type--mt-features-group .field--name-field-mt-fg-group-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.20;
  padding: 0;
  margin: 0 0 20px 0;
}
.node--type-mt-property .paragraph--type--mt-property-features {
  background-color: #f6f6f6;
  padding: 10px 15px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.node--type-mt-property .field--name-field-mt-pf-title {
  font-weight: 700;
}
.node--type-mt-property .paragraph--type--mt-features-group {
  padding-bottom: 30px;
}
.field--name-field-mt-fg-features {
  display: flex;
  flex-wrap: wrap;
}
.field--name-field-mt-fg-features > .field__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px;
}
@media (min-width:992px) {
  .field--name-field-mt-fg-features > .field__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*Node side*/
.node--type-mt-property .node__side {
  padding-left: 35px;
}
@media (max-width:768px) {
  .node--type-mt-property .node__side {
    padding-left: 15px;
  }
}
.node--type-mt-property .node__side .field {
  margin-bottom: 30px;
}
.node--type-mt-property .cta-buttons-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.node--type-mt-property .field--name-field-mt-prt-contact-link a {
  min-width: 0!important;
  display: inline-block;
}
.node--type-mt-property .field--name-field-mt-prt-contact-link.mt-button a,
.node--type-mt-property .flag-mt-my-listings.mt-button a {
  width: 100%;
}
.node--type-mt-property .field--name-field-mt-prt-contact-link.mt-button,
.node--type-mt-property .flag-mt-my-listings.mt-button,
.node--type-mt-property .flag-anon-message {
  flex-grow: 1;
}
.node--type-mt-property .mt-button + .flag-anon-message {
  margin-left: 20px;
}
@media (max-width:419px), (min-width:992px) and (max-width:1500px) {
  .node--type-mt-property .mt-button + .flag-anon-message {
    margin-left: 0;
    width: 100%;
  }
  .node--type-mt-property .flag-anon-message span {
    width: 100%;
  }
}
@media (max-width:450px) {
  .mt-button + .mt-button {
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width:992px) and (max-width:1500px) {
  .mt-button + .mt-button {
    margin-left: 0;
  }
}
@media (min-width:991px) and (max-width:1499px) {
  .property-content-top-first + .property-content-top-second .mt-button + .mt-button {
    margin-left: 0;
  }
}
.node--type-mt-property .flag-mt-my-listings a:before,
.node--type-mt-property .flag-anon-message span:before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  margin-right: 15px;
}
.node--type-mt-property .flag-mt-my-listings.action-flag a:before,
.node--type-mt-property .flag-anon-message span:before {
  font-weight: 400;
}
.node--type-mt-property .flag-mt-my-listings.action-unflag a:before {
  font-weight: 900;
}
.node--type-mt-property .js-flag-message {
  position: absolute;
  border: 1px solid;
  border-radius: 4px;
  right: 50px;
  background: rgba(255,255,255, 1);
  margin: 0;
  padding: 8px;
  width: 220px;
}
@media (max-width:768px) {
  .node--type-mt-property .js-flag-message {
    width: 180px;
  }
}
.node--type-mt-property .ajax-progress {
  position: absolute;
  bottom: 0;
  right: 0;
}
.node--type-mt-property .flag a {
  border-width: 2px;
  border-style: solid;
}
.node--type-mt-property .flag a:hover {
  border-width: 2px;
  border-style: solid;
}
