/**
 * @file
 * Visual styles for OBIZR2020's agent content type.
 */
.node--type-mt-agent.node--view-mode-teaser .node__title {
  font-size: 40px;
  font-weight: 600;
}
.node--view-mode-full .field.field--name-field-mt-agt-email {
  margin-bottom: 0;
  display: inline-block;
}
